.slider
	ul.slider__slides
		li.slider__slide
			img.slider__img.slider__img_show(src='img/child.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child2.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child3.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child4.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child5.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child6.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child7.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child8.jpg' alt='image')
		li.slider__slide
			img.slider__img(src='img/child9.jpg' alt='image')
	.slider__control-wrapper
		button.slider__control#slide-previous
			svg.slider__control-img
				use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow")
			|previous
		button.slider__control#slide-next 
			svg.slider__control-img.slider__control-img_rotate
				use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow")
			|next