.input
	label.input__label(for='input-name') Имя
	input.input__field#input-name(type='text' name='name')
.input
	label.input__label(for='input-phone') Телефон
	input.input__field#input-phone(type='phone' name='phone')