.input {
	text-align: left;
	flex-wrap: nowrap;
	margin-top: 40px;

	&__label {
		margin-right: 10px;
		font-weight: 600;
	}

	&__field {
		padding-bottom: 5px;
		padding-left: 7px;
		color: $color-white;
		vertical-align: top;
		background-color: transparent;
		border: none;
		border-bottom: 2px dashed $color-pink-lighten;
		outline: none;

		&::placeholder {
			color: $color-pink-lighten;
		}
	}

	&__field-number {
		padding-left: 0;
		width: 20px;
		text-align: center;
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
}