.gallery
	img.gallery__img-lg#largeImg(src="https://js.cx/gallery/img1-lg.jpg" alt="Large image")
	ul.gallery__list#thumbs
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img2-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img2-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img3-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img3-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img4-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img4-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img5-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img5-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img6-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img6-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img2-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img2-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img3-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img3-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img4-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img4-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img5-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img5-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img6-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img6-thumb.jpg" alt='image') 
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img5-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img5-thumb.jpg" alt='image')
		li.gallery__item
			a.gallery__link(href="https://js.cx/gallery/img6-lg.jpg" title="Image 2")
				img.gallery__img-sm(src="https://js.cx/gallery/img6-thumb.jpg" alt='image')     	      		