include ../../helpers/mixins
include ../../helpers/variables
doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="css/main.css" rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		title День рождения Эмили Ким
	body
		block content
		+script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false;key=AIzaSyAnyN5fUv0prlFulpo8ICwPckyVvQwtZes')
		+script('js/main.js')