footer.main-footer
	.container
		h2.main-footer__title Место празднования
		.main-footer__wrapper
			.main-footer__map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.6493248447105!2d76.89179451499882!3d43.237811487210124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836917c1245721%3A0xcb852b5cd4020251!2z0KDQtdGB0YLQvtGA0LDQvSDQutCw0YDQsNC-0LrQtSDQuCDQsdCw0L3QutC10YIg0YXQvtC7ICJIYW4gQmVsIg!5e0!3m2!1sru!2sru!4v1491984732753" allowfullscreen)
			.invite.main-footer__invite
				.invite__title Приглашаем
				table.invite__table
					tr.invite__row
						td.invite__question  Когда
						td.invite__answer  28 апреля 2017 г.
					tr.invite__row
						td.invite__question  Где
						td.invite__answer  г. Алматы проспект Гагарина 111, ресторан "Han Bel"
					tr.invite__row
						td.invite__question  Начало 
						td.invite__answer  18:00
		button.btn.btn_s.invite__btn.btn-popup-footer-show Подтвердить участие
	include ../popup-footer/popup-footer
