header.main-header
	.main-header__wrapper
		.container
			h1.main-header__title Приглашаем<br> на День Рождения<br> Эмилии Ким
			.main-header__date-wrapper
				.main-header__date 28 Апреля 2017 года
				.main-header__text Начало в 18.00, ресторан "Han Bel"
			button.btn.btn-popup-show.main-header__btn Подтвердить участие
	include ../popup/popup