.main-header {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	box-sizing: border-box;
	text-align: center;
	background: url(../img/main-header.jpg) no-repeat;
	background-size: cover;

	&__title {
		font-size: 2.2em;
		margin-top: 50px;
		color: $color-pink;
	}

	&__date {
		font-size: 1.4em;
		font-family: $font-bold;
		color: #434343;
	}

	&__btn {
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

//Media querus
@media (min-width: $grid-breakpoint-md) {
	.main-header {

		&__wrapper {
			padding-bottom: 50px;
		}

		&__title {
			font-size: 3em;
			margin-top: 70px;
		}

		&__date {
			position: relative;
			font-size: 2em;
		}

		&__btn {
			margin-top: 60px;
		}
	}
}

@media (min-width: $grid-breakpoint-xl) {
	.main-header {
		height: 100vh;
		
		&__title {
			font-size: 4em;
			margin-top: 100px;
		}

		&__date {
			position: relative;
			display: inline-block;
			font-size: 2.5em;

			&:before {
				position: absolute;
				left: -280px;
				font-weight: 400;
				content: '- - - - - - - - - -';
			}

			&:after {
				position: absolute;
				right: -280px;
				font-weight: 400;
				content: '- - - - - - - - - -';
			}
		}
	}
}