//Colors
$color-pink: rgba(236, 35, 140, 1);
$color-pink-opacity: transparentize($color-pink, .5);
$color-pink-lighten: #ffabd5;
$color-white: #fff;
$color-text: #747474;
$color-yellow: #fff59b;

//Grid breakpoints
$grid-breakpoint-md: 768px;
$grid-breakpoint-xl: 1200px;