//Colors
$color-pink: rgba(236, 35, 140, 1);
$color-pink-opacity: transparentize($color-pink, .5);
$color-pink-lighten: #ffabd5;
$color-white: #fff;
$color-text: #747474;
$color-yellow: #fff59b;
$color-grey: #f8f4f5;

//Fonts
$font-light: 'museo_sans_cyrl300';
$font-medium: 'museo_sans_cyrl500';
$font-bold: 'museo_sans_cyrl700';

//Grid breakpoints
$grid-breakpoint-md: 768px;
$grid-breakpoint-xl: 1200px;