.invite
	.invite__title Приглашаем
		.invite__block 
			.invite__question Когда
			.invite__answer 28 апреля 2017 г.
		.invite__block 
			.invite__question Где
			.invite__answer г. Алматы ул. Строителей 5, кв. 16
		.invite__block 
			.invite__question Начало 
			.invite__answer 19:00