.slider-reviews
  .slider-reviews__wrapper
    #slideshow
      #slidesContainer
        .slide
          .slide__reviews 
            .slide__title Правило 1/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 2/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 3/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 4/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 5/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто. 
        .slide
          .slide__reviews 
            .slide__title Правило 6/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 7/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 8/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 9/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.
        .slide
          .slide__reviews 
            .slide__title Правило 10/10
            .slide__text 
              | Первое и главное! Это не свадьба,<br>
              | а свадебная вечеринка, поэтому<br> 
              | приготовься — всё будет круто.                                                                   
  .slider-reviews-control
    button.control.control_margin_0#leftControl Предыдущий отзыв
      svg.slider__control-img
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow")
      |previous
    button.control#rightControl Следующий отзыв
      svg.slider__control-img.slider__control-img_rotate
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow")
      |next