.slider-reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__wrapper {
    position: relative;
    padding: 10px;
    width: 300px;
    background: $color-white;
    border-radius: 100%;
  }

  &__babe {
    position: absolute;
    z-index: 2;
    top: -100px;
    right: 30px;
    width: 100px;
    height: 200px;
    background: url(../img/babe_s.png) no-repeat;
    background-size: contain;
  }
}

#slidesContainer {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: auto; 
  border: 2px dashed $color-pink;
  border-radius: 100%;
  box-sizing: border-box;
}

.slide {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 300px;
  text-align: center;
  border-radius: 100%;

  &__title {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 1.5em;
    color: $color-pink;
  }

  &__text {
    color: $color-text;
  }
}

.slider-reviews-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.control {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background: $color-pink;
  border: none;
  outline: none;
  cursor: pointer;

    &:hover {
      opacity: .6;
  }

  &_margin_0 {
    margin-left: 0;
  }
}

@media (min-width: $grid-breakpoint-md) {
  .slider-reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__babe {
      top: -100px;
      right: -400px;
      width: 290px;
      height: 670px;
    }
  }

  .slider-reviews-control {
    width: 5%;
  }

  .control {
    margin-left: 0;
  }
}

@media (min-width: $grid-breakpoint-xl) {
  .slider-reviews {

    &__babe {
      top: -100px;
      right: -800px;
      width: 290px;
      height: 670px;
    }
  }
}