main.content
	.container
		h2.content__title Эмилия Ким
		.content__wrapper
			.content__date Родилась 23.04.2016

			.content__slider

				include ../slider/slider

			p.content__text.content__text_padding_right  
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis a eius obcaecati autem, optio? Aut vitae magnam obcaecati nemo, distinctio porro ducimus harum eligendi in nesciunt accusamus consequatur inventore, voluptates

		.content__bird
			img(src='img/bird.png')

		h2.content__title.content__title-parents Родители
		.content__wrapper
			.content__img-wrapper
				img.content__img(src='img/father.jpg' alt='image')
			p.content__text
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis a eius obcaecati autem, optio? Aut vitae magnam 
			.content__parents-name.content__parents-name_padding_left Дмитрий Ким,
				span.content__parents-name_sm  папа Эмилии

		.content__wrapper
			.content__img-wrapper.content__img-wrapper-mother
				img.content__img(src='img/mother.jpg' alt='image')
			p.content__text
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis a eius obcaecati autem, optio? Aut vitae magnam 
			.content__parents-name.content__parents-name_margin_0.content__parents-name_padding_rigt Ксения Ким,
				span.content__parents-name_sm  мама Эмилии
		h2.content__title.content__title_mt_60 Семья Ким
		.content__slider_l

			include ../slider/slider_l

			.content__cat

	include ../instruction/instruction

	.container
		h2.content__title Фотоотчет
		p.content__text.content__text_lh_none Здесь будут фото со Дня Рождения Эмику
  
		include ../gallery/gallery