.content {
	background: url(../img/content-bg.jpg) no-repeat;
	background-size: contain;

	&__title {
		font-size: 2em;
		font-weight: 600;
		text-transform: uppercase;
		color: $color-pink;

		&_margin_0 {
			margin: 0;
		}

		&_mt_50 {
			margin-top: 50px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__title-parents {
		position: relative;
	}

	&__date {
		font-weight: 600;
		color: $color-pink;
	}

	&__text-wrapper {
		width: 40%;
	}

	&__text {
		color: $color-text;

		&_padding_left {
			padding-left: 10px;
		}

		&_padding_right {
			padding-right: 10px;
		}
	}

	&__slider {
		width: 60%
	}

	&__bird {
		background-size: contain;

		& img {
			max-width: 100%;
		}
	}

	&__img-wrapper {
		width: 60%
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__img-wrapper-mother {
		order: 2;
	}

	&__text-wrapper-mother {
		order: 1;
	}

	&__parents-name {
		margin-bottom: 40px;
		font-size: 1.4em;
		font-weight: 600;
		color: $color-pink;

		&_sm {
			font-size: .8em;
			font-weight: 400;
			font-style: italic;
		}

		&_margin_0 {
			margin-bottom: 0;
		}

		&_padding_left {
			padding-left: 10px;
		}

		&_padding_right {
			padding-right: 10px;
		}
	}

	&__slider_l {
		position: relative;
	}

	&__cat {
		position: absolute;
		top: -110px;
		right: 0;
		width: 100px;
		height: 100px;
		background: url(../img/cat.png) no-repeat;
		background-size: contain;
		content: '';
	}
}

//Media querus
@media (min-width: $grid-breakpoint-md) {
	.content {
		display: block;

		&__title {
			font-size: 3em;
		}

		&__title-parents {
			margin-right: 100px;
		}

		&__wrapper {
			display: flex;
			margin-bottom: 80px;
		}

		&__text {
			width: 80%;
			font-size: 1.3em;
			line-height: 2.5em;
		}

		&__img-wrapper {
			width: 50%;
			margin-right: 80px;
		}

		&__img {
			width: 100%;
			height: 100%;
		}

		&__text-wrapper {
			width: 50%;
		}

		&__title-parents {
			text-align: right;
		}

		&__cat {
			width: 150px;
			height: 150px;
		}
	}
}

@media (min-width: $grid-breakpoint-xl) {
	.content {

		&__cat {
			width: 300px;
			height: 300px;
		}
	}
}