main.content
	.container
		h2.content__title Эмилия Ким
		.content__wrapper
			.content__date Родилась 23.04.2016

			.content__slider

				include ../slider/slider

			p.content__text.content__text_padding_right  
					|28 апреля 2016 года на свет появилась самая сладкая девочка - Эмилия. Маленькое солнышко согревает сердца своих родных звонким смехом, нежными улыбками, блестящими глазками. Однако уже проявляет свой характер. Бывает очень серьезной в присутствии новых людей, настойчива в своих желаниях заполучить то, что ей нужно. Любимая еда - пюре из цветной капусты и мясо. Любимый мультфильм – приключения Ам Няма.

		.content__bird
			img(src='img/bird.png')

		h2.content__title.content__title-parents Родители
		.content__wrapper
			.content__img-wrapper
				img.content__img(src='img/father.jpg' alt='image')
			p.content__text
				|Теперь я папа и с гордостью ношу это звание. Воспитывать дочь для меня большая ответственность и большое счастье. Безумно люблю мою доченьку. Не описать словами, сколько радости дарит ее улыбка, первые шаги, первые слова. 
			.content__parents-name.content__parents-name_padding_left Дмитрий Ким,
				span.content__parents-name_sm  папа Эмилии

		.content__wrapper
			.content__img-wrapper.content__img-wrapper-mother
				img.content__img(src='img/mother.jpg' alt='image')
			p.content__text
				|Дети - цветы жизни. Я благодарна Богу, что и в моей жизни расцвел такой цветочек. Самый красивый, самый нежный, самый любимый, такой долгожданный. Жизнь разделилась на «до» и «после» и все, что было «до» стало таким незначительным, а «после» дарит огромное счастье каждый день. 
			.content__parents-name.content__parents-name_margin_0.content__parents-name_padding_rigt Ксения Ким,
				span.content__parents-name_sm  мама Эмилии
		h2.content__title.content__title_mt_60 Семья Ким
		.content__slider_l

			include ../slider/slider_l

			.content__cat

	include ../instruction/instruction

	.container
		h2.content__title Фотоотчет
		p.content__text.content__text_lh_none Здесь будут фото со Дня Рождения Эмику
  
		include ../gallery/gallery