form.form(action='a.php' method='post' name='popup-form')
	.input
		label.input__label.input__label-name(for='input-namef') Имя
		input.input__field#input-namef(type='text' name='namef' placeholder='Введите ваше имя')
	.input
		label.input__label(for='input-countf') Количество
		input.input__field.input__field-number#input-countf(type='number' name='numberf' placeholder='Количество гостей')
	.input
		label.input__label.input__label-phone(for='input-phonef') Телефон
		input.input__field#input-phonef(type='number' name='phonef' placeholder='+7(495)555-55-55')
	.form__wrapper
		button.btn-popup.btn-popup-close.btn-popup-closeF Отменить
		input.btn-popup.btn-popup_active(type='submit' value='Подтверждаю участие')