.popup {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: $color-white;
	background: $color-pink;
	transform: translateY(-3000px);
	transition: all .5s; 

	&__title {
		font-size: 1.3em;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__show {
		transform: translateY(0);
	}
}